*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #252525;
    background-color: #eee;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 105px;
    background-color: #393e4648;
    box-shadow: 0px 0px 5px 0px #aaa;
}

header a {
    color: #252525;
}

nav {
    padding-top: 40px;
}

.nav-btn--change {
    color: #252525;
}

.nav-btn--change:hover {
    color: rgb(255, 255, 255);
}

/* content------------------------------------------------------------------------------------------ */





/* footer------------------------------------------------------------------------------------ */

.footer {
    height: 350px;
    background-color: #393E46;
    box-shadow: 0px 0px 10px 3px #aaa;
}

.heading-text-1 {
    color: rgb(230, 230, 230);
    font-size: 26px;
}

.linkis {
    color: rgb(230, 230, 230);
    font-size: 16px;
}

.linkis1 {
    margin-top: 37px;
}

.linkis2 {
    margin-top: 10px;
}

.heading-text-2 {
    color: rgb(230, 230, 230);
    font-size: 26px;
}

.contacts p {
    color: rgb(230, 230, 230);
}

.telandmail {
    padding-left: 30px;
    font-size: 14px;
    color: #FFFFFF;
}

.mailof, .telof {
    display: flex;
    align-items: center;
}

.mailof {
    margin-top: 38px;
}

.telof {
    margin-top: 10px;
}

.heading-text-3 {
    color: rgb(230, 230, 230);
    font-size: 26px;
}

.soc-icons {
    margin-top: 30px;
    margin-bottom: 25px;
}

.last-text {
    color: rgb(230, 230, 230);
    font-size: 14px;
    margin-top: 12px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.all-elements-of-footer {
    padding-top: 70px;
}