*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #252525;
    background-color: #eee;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}



/* header------------------------------------------------------------------------------------------- */

ul {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

li {
    display: block;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 100%;
    background: url(images/for-header1.jpg) no-repeat center top/*  / cover */;
    background-size: 100%;
}

header a {
    color: #252525;
}

nav {
    padding-top: 40px;
}

.nav-btn--change {
    color: #252525;
}

.nav-btn--change:hover {
    color: #eee;
}

.main-text {
    margin-top: 220px;
    font-size: 44px;
    color: 3c3c3c;
    margin-bottom: 118px;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 14px 40px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background .1s linear;
    font-size: 20px;
}

.btn--change {
    background-color: #FFFFFF33;
}

.btn--change:hover {
    background-color: #FFFFFF7D;
}

.btn1 {
    padding-bottom: 50px;
}



/* content------------------------------------------------------------------------------------------ */

.content {
    background-color: #eee;
}

.main-text-2 {
    margin-top: 60px;
    font-size: 44px;
    color: 3c3c3c;
    margin-bottom: 35px;

}

.all-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-1 .card-2 .card-3 .card-4 .card-5 .card-6 {
    display: block;
}

.card-1 {
    margin-bottom: 45px;
}

.card-2 {
    margin-bottom: 45px;
}

.card-3 {
    margin-bottom: 45px;
}

.card-4 {
    margin-bottom: 45px;
}

.card-5 {
    margin-bottom: 45px;
}

.card-6 {
    margin-bottom: 45px;
}

.image-card-1 img {
    border-radius: 5px;
    box-shadow: 1px 3px 10px 3px #aaa;
}

.image-card-2 img {
    border-radius: 5px;
    box-shadow: 1px 3px 10px 3px #aaa;
}

.image-card-3 img {
    border-radius: 5px;
    box-shadow: 1px 3px 10px 3px #aaa;
}

.image-card-4 img {
    border-radius: 5px;
    box-shadow: 1px 3px 10px 3px #aaa;
}

.image-card-5 img {
    border-radius: 5px;
    box-shadow: 1px 3px 10px 3px #aaa;
}

.image-card-6 img {
    border-radius: 5px;
    box-shadow: 1px 3px 10px 3px #aaa;
}

.btn-more-in-a {
    display: inline-block;
    text-align: center;
    padding: 14px 40px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background .1s linear;
    font-size: 20px;
    color: #252525;
}

.btn--change-more {
    background-color: #0000001E;
}

.btn--change-more:hover {
    background-color: #0000003C;
}

.btn-more {
    margin-top: 10px;
    padding-bottom: 60px;
}

.btn-card-1-in-a {
    display: inline-block;
    text-align: center;
    padding: 7px 60px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background .1s linear;
    font-size: 16px;
    color: #252525;
}

.btn--change-card-1 {
    background-color: #FFFFFF33;
}

.btn--change-card-1:hover {
    background-color: #FFFFFF7D;
}

.btn-card-1 {
    margin-top: -85px;
}

.btn-card-2-in-a {
    display: inline-block;
    text-align: center;
    padding: 16px 40px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background .1s linear;
    font-size: 16px;
    color: #252525;
}

.btn--change-card-2 {
    background-color: #FFFFFF33;
}

.btn--change-card-2:hover {
    background-color: #FFFFFF7D;
}

.btn-card-2 {
    margin-top: -85px;
}

.btn-card-3-in-a {
    display: inline-block;
    text-align: center;
    padding: 16px 34px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background .1s linear;
    font-size: 16px;
    color: #252525;
}

.btn--change-card-3 {
    background-color: #FFFFFF33;
}

.btn--change-card-3:hover {
    background-color: #FFFFFF7D;
}

.btn-card-3 {
    margin-top: -85px;
}

.btn-card-4-in-a {
    display: inline-block;
    text-align: center;
    padding: 16px 44px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background .1s linear;
    font-size: 16px;
    color: #252525;
}

.btn--change-card-4 {
    background-color: #FFFFFF33;
}

.btn--change-card-4:hover {
    background-color: #FFFFFF7D;
}

.btn-card-4 {
    margin-top: -85px;
}

.btn-card-5-in-a {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background .1s linear;
    font-size: 16px;
    color: #252525;
}

.btn--change-card-5 {
    background-color: #FFFFFF33;
}

.btn--change-card-5:hover {
    background-color: #FFFFFF7D;
}

.btn-card-5 {
    margin-top: -85px;
}

.btn-card-6-in-a {
    display: inline-block;
    text-align: center;
    padding: 16px 40px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background .1s linear;
    font-size: 16px;
    color: #252525;
}

.btn--change-card-6 {
    background-color: #FFFFFF33;
}

.btn--change-card-6:hover {
    background-color: #FFFFFF7D;
}

.btn-card-6 {
    margin-top: -85px;
}

.footer {
    height: 350px;
    background-color: #393E46;
    box-shadow: 0px 0px 10px 3px #aaa;
}

.heading-text-1 {
    color: rgb(230, 230, 230);
    font-size: 26px;
}

.linkis {
    color: rgb(230, 230, 230);
    font-size: 16px;
}

.linkis1 {
    margin-top: 37px;
}

.linkis2 {
    margin-top: 10px;
}

.heading-text-2 {
    color: rgb(230, 230, 230);
    font-size: 26px;
}

.contacts p {
    color: rgb(230, 230, 230);
}

.telandmail {
    padding-left: 30px;
    font-size: 14px;
}

.mailof, .telof {
    display: flex;
    align-items: center;
}

.mailof {
    margin-top: 38px;
}

.telof {
    margin-top: 10px;
}

.heading-text-3 {
    color: rgb(230, 230, 230);
    font-size: 26px;
}

.soc-icons {
    margin-top: 30px;
    margin-bottom: 25px;
}

.last-text {
    color: rgb(230, 230, 230);
    font-size: 14px;
    margin-top: 12px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.all-elements-of-footer {
    padding-top: 70px;
}